@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    --primary: #000000;
    --secondary:#000000 ;
    --pure: #fff;
    --purple: #7a00ff;
    --orange: #ff0f0f;
    --red: #b00020;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}



.hamburger{
    color: rgb(255, 255, 255);
}



header i{
    font-size: x-large;
}